.alert {
  margin: $spacing $section-margin-bottom 0;
  padding: $spacing;
  background: $alert-background-color;
  border-radius: $radius;

  > .close {
    background: none;
    border: none;
    color: $alert-close-text-color;
  }
}
