<%# Renders the Rails flash server-side.
  #
  # Generally, flash messages (even those from the server!) are rendered using
  # Angular. However, for the Devise views, which are plain vanilla Rails views
  # that don't use Angular, we need to render the Rails flash server-side. This
  # is where this bit of code is needed.
  #%>
<% if flash.any? %>
  <div class="alerts">
    <% flash.each do |key, message| %>
      <% unless key == :timedout %>
        <div class="alert alert-<%= bootstrap_alert_type(key) %> alert-dismissible"
             role="alert">

          <button type="button" class="close" data-dismiss="alert"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
