<%# Used in conjunction with the 'locale_switcher' partial.
  # See comments therein for detailed explanation and usage.
  #
  # Expects the following local variables:
  # * available_locales - An array of locales, eg. `[:en, :hi]`
  #%>
<div id="locale-switcher-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><%= t('.select_language') %></h4>
      </div>

      <div class="modal-body">
        <ul>
          <% I18nUtils::LOCALE_NAMES.slice(*available_locales).
              each do |locale, name| %>

            <li>
              <%= link_to name, switch_locale_path(
                  locale: locale,
                  return_to: url_for(
                      params.merge(locale: (locale == I18n.default_locale) ?
                          nil : locale))
              ) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
