<nav class="navbar navbar-default" id="top-nav" role="navigation">
  <div class="container-fluid">
    <%# Brand and toggle get grouped for better mobile display %>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#top-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" l-href="/admin/:locale"
         translate="admin_app_name"></a>
    </div>

    <%# Collect the nav links, forms and other content for toggling %>
    <div class="collapse navbar-collapse" id="top-nav-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="app_settings/outgoing_email" translate="App Settings"></a>
        </li>
        <li><a href="posts" translate="Posts"></a></li>
        <li><a href="users" translate="Users"></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <locale-switcher></locale-switcher>
        </li>

        <authentication-links>
          <%# Unlike the link to the admin app from the client app (see the
            # client '_top_nav' partial). We don't need a "_self" target here.
            # Not completely sure why not, but for now we won't question it!
            #%>
          <li><a l-href="/:locale" translate="Main App"></a></li>
        </authentication-links>
      </ul>
    </div>
  </div>
</nav>
