<div class="attachment-library"
     ng-hide="!alSvc.getVisible() && alSvc.getAlertCount() == 0">

  <div class="attachment-library-panel" ng-hide="alSvc.getMinimized()">
    <attachment-browser ng-if="alSvc.getVisible()"></attachment-browser>

    <fine-uploader options="uploaderOptions"></fine-uploader>

    <div class="attachment-library-panel-extras" ng-if="alSvc.getVisible()">
      <div>- or -</div>
      <url-referrer></url-referrer>
    </div>
  </div>

  <div class="attachment-library-toggle btn btn-primary"
       ng-class="{minimized: alSvc.getMinimized(), 'no-uploads': !alSvc.getUploadsInProgress()}"
       ng-click="alSvc.toggleMinimized()">

    <span class="glyphicon"
          ng-class="{'glyphicon-paperclip': !alSvc.getUploadsInProgress(), 'glyphicon-refresh spin-glyphicon': alSvc.getUploadsInProgress()}"></span>
  </div>
</div>
