<div class="attachment-browser">
  <query-builder options="queryBuilderOptions"
                 filters="queryBuilderFilters"></query-builder>

  <table id="attachments-table"
         datatable options="dataTableOptions" instance="dataTableInstance"
         row-ops="dataTableRowOps"
         selected-rows="dataTableSelectedRows" bulk-ops="dataTableBulkOps"
         class="display no-wrap" width="100%">

    <thead>
    <tr>
      <th translation-id="attachment_browser.columns.id">ID</th>
      <th translation-id="attachment_browser.columns.name">Name</th>
      <th translation-id="attachment_browser.columns.created_at">Created At</th>
      <th translation-id="attachment_browser.columns.num_usages"># Usages</th>
    </tr>
    </thead>
  </table>
</div>
