<div class="attachment-browser">
  <query-builder options="queryBuilderOptions"
                 filters="queryBuilderFilters"></query-builder>

  <table id="attachments-table"
         datatable options="dataTableOptions" instance="dataTableInstance"
         row-ops="dataTableRowOps"
         selected-rows="dataTableSelectedRows" bulk-ops="dataTableBulkOps"
         class="display no-wrap" width="100%">

    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created At</th>
      <th># Usages</th>
    </tr>
    </thead>
  </table>
</div>
