<div class="attachment-drop">
  <ul class="dropped-attachments">
    <li ng-repeat="attachment in roleAttachments" class="dropped-attachment">
      <a href="" class="detach-button" ng-click="detachAttachmentAt($index)">
        <span class="glyphicon glyphicon-remove-circle"></span></a>

      <img class="attachment-thumb" ng-src="{{attachment.thumb}}">

      <span class="attachment-name">
        <a ui-sref="attachments.show({ id: attachment.id })" target="_blank"
           title="{{attachment.name}}">
          {{attachment.id}}: {{attachment.name | truncate:35}}
          <span class="glyphicon glyphicon-new-window"></span></a>
      </span>
    </li>
  </ul>

  <div class="attachment-drop-area">
    <span class="glyphicon glyphicon-paperclip"></span>
    Drop attachments here...
  </div>
</div>
