<li ng-class="{dropdown: currentUser}">
  <a href="/users/sign_in?return_to={{signInRedirectUrl}}" target="_self"
     ng-if="!currentUser">Sign In</a>

  <a href="" class="dropdown-toggle" data-toggle="dropdown"
     ng-if="currentUser">
    {{currentUser.email}}
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu" ng-if="currentUser">
    <li><a href="/users/edit" target="_self">My Account</a></li>
    <li>
      <a href="/users/sign_out" data-method="delete" target="_self">Sign Out</a>
    </li>

    <ng-transclude-replace></ng-transclude-replace>
  </ul>
</li>
