<!-- TODO Make date-time-quicker configurable -->
<div class="date-time-quicker">
  <b translate="date_time_quicker.quick_options"
     translate-default="Quick options"></b><br/>

  <span translate="date_time_quicker.week" translate-default="Week"></span>
  <a href="" ng-click="round('down', 'week')"
     translate="date_time_quicker.start" translate-default="start"></a>
  | <a href="" ng-click="round('up)', 'week')"
       translate="date_time_quicker.end" translate-default="end"></a>

  <span translate="date_time_quicker.month" translate-default="Month"></span>
  <a href="" ng-click="round('down', 'month')"
     translate="date_time_quicker.start" translate-default="start"></a>
  | <a href="" ng-click="round('up)', 'month')"
       translate="date_time_quicker.end" translate-default="end"></a>
</div>
