<!--
Uses the 'select as label for value in array' comprehension for ng-options.
See
http://www.undefinednull.com/2014/08/11/a-brief-walk-through-of-the-ng-options-in-angularjs/
for an understanding of why this is required.
 -->

<select class="filter-column form-control"
        ng-model="model.column"
        ng-options="c.name as c.label for c in qbOptions.columns">
</select>

<select class="filter-op form-control"
        ng-model="model.op"
        ng-options="o.name as o.label for o in ops">
</select>

<span class="filter-values">
  <!-- Placeholder for value editor -->
</span>
