<form class="query-builder form-inline" novalidate ng-submit="submit()"
      ng-show="translationComplete">

  <div class="filter" ng-repeat="filter in filters track by filter._id">
    <a href="" class="filter-remove" ng-click="removeFilter($index)">
      <span class="glyphicon glyphicon-remove-circle"></span></a>

    <qb-filter qb-options="options" model="filter"></qb-filter>
  </div>

  <a href="" class="filter-add" ng-click="addFilter()">
    <span class="glyphicon glyphicon-plus-sign"></span>
    <span translate="query_builder.add_filter"
          translate-default="Add filter"></span>
  </a>
  <br/>

  <button type="submit" class="btn"
          ng-class="{'btn-primary': form.$dirty, 'btn-default': form.$pristine}">
    <span translate="query_builder.apply_filters"
          translate-default="Apply Filters"></span>
  </button>
</form>
