<%# Displays the top navigation bar %>
<div class="pure-menu pure-menu-open pure-menu-horizontal" id="nav-bar">
  <a href="#" class="pure-menu-heading">CityRovr</a>

  <ul>
    <li><a href="#/">Home</a></li>
    <li><a href="#/posts">Posts</a></li>
  </ul>
</div>
