<%# The top (main) menu bar %>
<div class="pure-menu pure-menu-open pure-menu-horizontal" id="top-bar">
  <a href="#/" class="pure-menu-heading">Rails App Starter Kit</a>

  <ul>
    <li><a href="#/posts">Posts</a></li>
  </ul>
</div>
