<div class="pure-menu pure-menu-open pure-menu-horizontal" id="top-bar">
  <a href="#" class="pure-menu-heading">CityRovr</a>

  <ul>
    <li><a href="#/">Home</a></li>
    <li><a href="#/posts">Posts</a></li>
    <li><a href="#/locations">Locations</a></li>
  </ul>
</div>
