<%# The application 'entry point' view, i.e. the landing page %>
<div class="container" id="main-container">
  <div ng-view class="angular-view">
    <%# Placeholder for Angular templates %>
  </div>

  <media-library></media-library>
</div>
