<%# The application 'entry point' view, i.e. the landing page %>
<div class="container" id="main-container">
  <div ui-view class="angular-view">
    <%# Placeholder for Angular templates %>
  </div>
</div>
