<authentication-links></authentication-links>

<%= render 'home/nav_bar' %>

<div ng-view>
  <%# Placeholder for Angular templates %>
</div>

<%# Set currently signed in user details, if any %>
<script type="application/javascript">
  <% if @current_user_json %>
    var CurrentUser = <%= raw @current_user_json %>;
  <% else %>
    var CurrentUser = null;
  <% end %>
</script>
