<%# The application 'entry point' view, i.e. the landing page %>

<%= render 'home/top_bar' %>

<flash-alerts closeable="true"></flash-alerts>

<div id="container" ng-view>
  <%# Placeholder for Angular templates %>
</div>

<%= render 'home/footer' %>

<%# Set currently signed in user details, if any %>
<script type="application/javascript">
  <% if @current_user_json %>
  var CurrentUser = <%= raw @current_user_json %>;
  <% else %>
  var CurrentUser = null;
  <% end %>
</script>
