// Imports all required styling files

// Bootstrap.
// For a list of Bootstrap variables for use/modification, see
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss.
@import "bootstrap-sprockets";
// See comments in assets/stylesheets/bootstrap-custom.scss
@import "bootstrap-custom";

@import "rails_bootstrap_forms";

// All styling variables.
// Imported first, so that variables can be used in any other styling file.
@import '../shared/variables';

// Canned animations for Angular
@import '../shared/animations';

// General styles (layout, header, footer, components etc.)
@import '../shared/layout';
@import '../shared/devise';

// Styles for Angular directives
@import '../shared/directives/please_wait';
@import '../shared/directives/query_builder';
@import '../shared/directives/attachment_library';
@import '../shared/directives/fine_uploader';
