// Contains all Devise related styling

$devise-top-margin-top: $padding-large-vertical*2;
$devise-top-margin-bottom: 100px; // Trial and error
$devise-top-font-size: 1.4em;

#devise-top {
  margin: $devise-top-margin-top 0 $devise-top-margin-bottom 0;
  text-align: center;
  font-size: $devise-top-font-size;
}

#devise-top2 {
  text-align: center;
}

#devise-links {
  padding-top: $line-height-computed;
}
