<div class="row" ng-init="actionEdit()">
  <div class="col-sm-6 col-sm-offset-3">
    <h2>User #{{user.id}} - Edit</h2>

    <form role="form" novalidate form-errors="userErrors">
      <div class="form-inputs">
        <div class="form-group">
          <label>Email</label><br/>
          {{user.email}}
        </div>

        <div class="form-group">
          <label>Roles</label>
          <selectize ng-model="user.roles" options="userRoleSelectizeOptions">
          </selectize>
        </div>
      </div>

      <div class="form-actions">
        <button class="btn btn-primary" ng-click="actionUpdate()">
          Update
        </button>
      </div>
    </form>
  </div>
</div>
