<div class="row" ng-init="actionNew()">
  <div class="col-sm-6 col-sm-offset-3">
    <h2>New User</h2>

    <form role="form" novalidate fb-errors="userErrors" confirm-dirty-form>
      <!--
      Field created without the use of 'fb-field'.
      This illustrates how fb-field is merely an optional convenience. If you
      need to achieve something beyond its scope, just don't use it!
      -->
      <div class="form-inputs">
        <div class="form-group" ng-class="{'has-error': userErrors['email']}">
          <label for="email" class="control-label" >Email*</label>
          <input type="text" name="email" class="form-control"
                 ng-model="user.email"/>

          <p class="help-block" ng-show="userErrors['email']">
            - {{userErrors['email'][0]}}
          </p>
        </div>

        <fb-field type="password" hint="Minimum 8 characters" required="true"
                  ng-model="user.password"></fb-field>

        <fb-field type="password" required="true"
                  ng-model="user.password_confirmation"></fb-field>

        <fb-field ng-model="user.roles">
          <selectize name="roles" ng-model="user.roles"
                     options="userRoleSelectizeOptions"></selectize>
        </fb-field>
      </div>

      <div class="form-actions">
        <button class="btn btn-primary" ng-click="actionCreate()">
          Create
        </button>
      </div>
    </form>
  </div>
</div>
