// Contains all styling variables

/////////////
// General //
/////////////

// Spacing
$spacing: 8px;

// Colors
$border-color: #EEEEEE;
$shadow-color: #CCCCCC;

////////////////
// Components //
////////////////

// Section
$section-margin-bottom: $spacing * 2;
