// Variables

$attachment-library-margin: $padding-small-vertical $padding-small-horizontal;
$attachment-library-padding: $padding-small-vertical $padding-small-horizontal;
$attachment-library-bg: transparentize($gray-lighter, 0.1);
$attachment-library-border-radius: $border-radius-small;

// Styles

.attachment-library {
  position: fixed;
  bottom: 0;
  margin: $attachment-library-margin;
  padding: $attachment-library-padding;
  background: $attachment-library-bg;
  border-radius: $attachment-library-border-radius;
}
