// Variables

$attach-lib-panel-margin: $padding-small-vertical $padding-small-horizontal;
$attach-lib-panel-padding: $padding-small-vertical $padding-small-horizontal;
$attach-lib-panel-bg: transparentize($gray-lighter, 0.1);
$attach-lib-panel-border-radius: $border-radius-small;
$attach-lib-panel-box-shadow-color: $gray-light;

$attachment-drag-helper-padding: $padding-small-vertical $padding-small-horizontal;
$attachment-drag-helper-bg: $brand-info;
$attachment-drag-helper-border-radius: $border-radius-small;

// Styles

.attachment-library-panel {
  position: fixed;
  bottom: 50px;
  max-height: 70%;
  overflow-y: scroll;
  margin: $attach-lib-panel-margin;
  padding: $attach-lib-panel-padding;
  background: $attach-lib-panel-bg;
  border-radius: $attach-lib-panel-border-radius;
  box-shadow: 1px 1px 8px #bbb;
}

.attachment-library-toggle {
  position: fixed;
  bottom: 0;
  margin: $attach-lib-panel-margin;
  padding: 10px 13px; // Trial and error
  border-radius: 50%;
}

.attachment-drag-helper {
  padding: $attachment-drag-helper-padding;
  background: $attachment-drag-helper-bg;
  border-radius: $attachment-drag-helper-border-radius;
}
