// Variables

$flash-alerts-top: $navbar-height + $padding-small-vertical;
$flash-alerts-padding: 0 $padding-small-horizontal;

$flash-alert-padding: $padding-small-vertical $padding-small-horizontal;

// Styles

.alerts {
  position: fixed;
  top: $flash-alerts-top;
  left: 0;
  z-index: 3; // Trial and error
  width: 100%;
  pointer-events: none; // Pass through pointer events down the z-index
  padding: $flash-alerts-padding;
  text-align: center;

  > .alert {
    display: inline-block;
    pointer-events: auto; // Handle pointer events on the actual alert though
    padding: $flash-alert-padding;

    > .close {
      line-height: 0.9; // Trial and error
    }
  }
}
