// Variables

$flash-alerts-top: $navbar-height + $padding-small-vertical;

$flash-alert-bottom-margin: $padding-base-vertical;
$flash-alert-padding: $padding-small-vertical; // Trial and error
$flash-alert-close-right: 0; // Trial and error

// Styles

.alerts {
  position: fixed;
  top: $flash-alerts-top;
  left: 0;
  z-index: 3; // Trial and error
  width: 100%;
  text-align: center;

  > .alert {
    display: inline-block;
    margin-bottom: $flash-alert-bottom-margin;
    padding: $flash-alert-padding;

    &.ng-enter { animation: fadeIn 0.3s; }
    &.ng-leave { animation: fadeOut 0.3s; }

    // Changing the alert margins necessitates a change here, otherwise the
    // close button goes too far to the right.
    > .close { right: $flash-alert-close-right; }
  }
}
