// Variables

$please-wait-top: 10px;
$please-wait-width: 120px;
$please-wait-padding: $padding-small-vertical $padding-small-horizontal;
$please-wait-bg: transparentize($brand-info, 0.5);
$please-wait-border-radius: $border-radius-small;

// Styles

.please-wait {
  position: fixed;
  top: $please-wait-top;
  left: 50%;
  width: $please-wait-width;
  margin-left: -$please-wait-width/2;
  padding: $please-wait-padding;
  background: $please-wait-bg;
  border-radius: $please-wait-border-radius;
  text-align: center;
}
