// Variables

$query-builder-margin-bottom: $padding-large-vertical;

$qb-filter-value-min-width: 172px; // Trial and error
$qb-filter-margin-bottom: $padding-small-vertical;
$qb-filter-value-margin-right: 4px; // Trial and error

$qb-filter-add-margin-bottom: $padding-small-vertical;

// Styles

.query-builder {
  margin-bottom: $query-builder-margin-bottom;

  > .filter {
    // The filter bottom margin is applied to each filter form control
    // individually, rather than directly to the parent filter element. This
    // approach automatically introduces spacing between controls when they
    // stack up on small screens, or wrap around for lack of space.

    .filter-column {
      margin-bottom: $qb-filter-margin-bottom;
    }

    .filter-op {
      min-width: 90px; // Trial and error
      margin-bottom: $qb-filter-margin-bottom;
    }

    .filter-value {
      min-width: $qb-filter-value-min-width;
      margin-bottom: $qb-filter-margin-bottom;
      margin-right: $qb-filter-value-margin-right;
    }

    // To match Selectize query builder editor styling to the other editors
    .selectize-control {
      display: inline-block;
      vertical-align: middle;

      @media (max-width: $screen-sm-min) {
        width: 100%;
      }

      > .selectize-input {
        width: 100%;
      }
    }
  }

  > .filter-add {
    display: inline-block;
    margin-bottom: $qb-filter-add-margin-bottom;
  }
}
