// Variables

$query-builder-margin-bottom: $padding-large-vertical;

$qb-filter-margin-bottom: $padding-small-vertical;
$qb-filter-value-margin-right: 4px; // Trial and error

$qb-filter-add-margin-bottom: $padding-small-vertical;

// Styles

.query-builder {
  margin-bottom: $query-builder-margin-bottom;

  > .filter {
    // The filter bottom margin is applied to each filter form control
    // individually, rather than directly to the parent filter element. This
    // approach automatically introduces spacing between controls when they
    // stack up on small screens.

    .filter-column {
      margin-bottom: $qb-filter-margin-bottom;
    }

    .filter-op {
      min-width: 90px; // Trial and error
      margin-bottom: $qb-filter-margin-bottom;
    }

    .filter-value {
      margin-bottom: $qb-filter-margin-bottom;
      margin-right: $qb-filter-value-margin-right;
    }
  }

  > .filter-add {
    display: inline-block;
    margin-bottom: $qb-filter-add-margin-bottom;
  }
}
