<!-- Common form for creating/updating a post -->
<form role="form" novalidate form-errors="postErrors">
  <div class="form-inputs">
    <div class="form-group" ng-class="{'has-error': postErrors['message']}">
      <label for="message" class="control-label">Message</label>
      <input type="text" name="message" class="form-control"
             ng-model="post.message"/>

      <p class="help-block" ng-show="postErrors['message']">
        {{postErrors['message'][0]}}
      </p>
    </div>
  </div>

  <div class="form-actions" ng-if="!post.id">
    <button class="btn btn-primary" ng-click="actionCreate()">
      Create
    </button>
  </div>

  <div class="form-actions" ng-if="post.id">
    <button class="btn btn-primary" ng-click="actionUpdate()">
      Update
    </button>
    <button class="btn btn-danger" ng-click="actionDestroy()">
      Delete
    </button>
  </div>
</form>
