<!-- Common form for creating/updating a post -->
<form role="form" novalidate fb-errors="postErrors">
  <div class="form-inputs">
    <fb-field type="text" hint="Minimum 10, maximum 140 characters"
              required="true" ng-model="post.message"></fb-field>
  </div>

  <div class="form-actions" ng-if="!post.id">
    <button class="btn btn-primary" ng-click="actionCreate()">
      Create
    </button>
  </div>

  <div class="form-actions" ng-if="post.id">
    <button class="btn btn-primary" ng-click="actionUpdate()">
      Update
    </button>
    <button class="btn btn-danger" ng-click="actionDestroy()">
      Delete
    </button>
  </div>
</form>
