<!--
The enclosing row and column divs are optional. We use them here only for
adjusting this form's width based on the screen size, to make it look good no
matter the size.
-->
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 translate="Outgoing Email"></h3>

    <p class="help-block" translate="outgoing_email_hint"></p>

    <form name="app_settings_outgoing_email_form" role="form" novalidate
          fb-errors="settingsErrors" confirm-dirty-form>

      <div class="form-inputs">
        <h4 translate="Sender Info"></h4>

        <fb-field type="email" ng-model="settings.sender">
        </fb-field>

        <h4 translate="SMTP Settings"></h4>

        <p class="help-block" translate="smtp_settings_hint"></p>

        <fb-field type="text" ng-model="settings.smtp_address"></fb-field>
        <fb-field type="number" ng-model="settings.smtp_port"></fb-field>
        <fb-field type="text" ng-model="settings.smtp_user_name"></fb-field>
        <fb-field type="text" ng-model="settings.smtp_password"></fb-field>
        <fb-field ng-model="settings.smtp_authentication">
          <select class="form-control" name="smtp_authentication"
                  ng-model="settings.smtp_authentication">
            <option value=""></option>
            <option value="plain">PLAIN</option>
            <option value="login">LOGIN</option>
            <option value="cram_md5">CRAM_MD5</option>
          </select>
        </fb-field>

        <fb-field ng-model="settings.smtp_enable_starttls_auto">
          <select class="form-control" name="smtp_enable_starttls_auto"
                  ng-model="settings.smtp_enable_starttls_auto">
            <option value=""></option>
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </fb-field>

        <fb-field ng-model="settings.smtp_openssl_verify_mode">
          <select class="form-control" name="smtp_openssl_verify_mode"
                  ng-model="settings.smtp_openssl_verify_mode">
            <option value=""></option>
            <option value="none">NONE</option>
            <option value="peer">PEER</option>
            <option value="client_once">CLIENT_ONCE</option>
            <option value="fail_if_no_peer_cert">FAIL_IF_NO_PEER_CERT</option>
          </select>
        </fb-field>
      </div>

      <div class="form-actions">
        <button class="btn btn-primary" ng-click="updateSettings()"
                translate="Update Settings"></button>
      </div>
    </form>
  </div>
</div>
