<!--
The enclosing row and column divs are optional. We use them here only for
adjusting this form's width based on the screen size, to make it look good no
matter the size.
-->
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 translate="Security"></h3>

    <p class="help-block" translate="security_hint"></p>

    <form name="app_settings_security_form" role="form" novalidate
          fb-errors="settingsErrors" confirm-dirty-form>

      <div class="form-inputs">
        <h4 translate="Sign In Settings"></h4>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="settings.force_sign_in">
            <span translate="Force users to sign in"></span>
          </label>
          <fb-hint>
            <span translate="force_sign_in_hint"></span>
          </fb-hint>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox"
                   ng-model="settings.disable_3rd_party_sign_in"
                   ng-disabled="settings.force_sign_up_via_admin">

            <span translate="Disable 3rd party sign in"></span>
          </label>
          <fb-hint>
            <span translate="disable_3rd_party_sign_in_hint"></span>
          </fb-hint>
        </div>

        <h4 translate="Sign Up Settings"></h4>

        <fb-field ng-model="settings.sign_up_whitelist">
          <input type="text" name="sign_up_whitelist" class="form-control"
                 ng-model="settings.sign_up_whitelist">
        </fb-field>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="settings.force_sign_up_via_admin">
            <span translate="Disable users from signing up"></span>
          </label>
          <fb-hint>
            <span translate="disable_users_from_signing_up_hint"></span>
          </fb-hint>
        </div>
      </div>

      <div class="form-actions">
        <button class="btn btn-primary" ng-click="updateSettings()"
                translate="Update Settings"></button>
      </div>
    </form>
  </div>
</div>
