<%# The top (main) menu bar %>
<nav class="navbar navbar-default" id="top-nav" role="navigation">
  <div class="container-fluid">
    <%# Brand and toggle get grouped for better mobile display %>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#top-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/">Rails App Starter Kit</a>
    </div>

    <%# Collect the nav links, forms and other content for toggling %>
    <div class="collapse navbar-collapse" id="top-nav-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/#/posts">Posts</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <authentication-links></authentication-links>
      </ul>
    </div>
  </div>
</nav>
